.box{
    position: fixed;
    top: 0;
    left: 0;
    width: 14.1vw;

}
main{
    width: 100%;
    padding: 1.56vw;
}
.sidebar{
    background: #FFFFFF;
    color: #fff;
    height: 100vh;
    width: 14.1vw;
    transition: all 0.5s;
    margin-top: 3.125vw;
}
.link{
    width: 14.1vw;
    height: 3.4vw;
    border-radius: 0 4.6vw 4.6vw 0;
    display: flex;
    color: #000;
    margin-top: 2.2vw;
    padding-left: 1.5vw;
    gap: 1.17vw;
    transition: all 0.5s;
    align-items: center;
 
}
.link:hover{
    background: #DBE1FF;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: #DBE1FF;
    color: #000;
}
.link_text{
    font-size: 1.25vw;
    font-family: "Roboto", sans-serif;

}
.icon{
    font-size: 2.5vw;
    color: #414141;
    margin-top: 0.78vw;
}