.container-for-one-tasks{
    width: 248px !important;
    background-color: #EFF0FF;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    padding: 12px 26px 15px 26px;
}

.inf-ab-tasks-tasks{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.text-data-tasks-tasks{
    color: #49454F;
    font-family: 'Roboto' sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.text-inf-tasks{
    color: #1D1B20;
    font-family: 'Roboto' sans-serif;
    font-size: 1em;
    font-weight: 400;

}

.name-event-tasks-tasks{
    color: #b7b7b7;
    font-family: 'Roboto' sans-serif;
    font-size: 1em;
    font-weight: 400;

}

.check-inf-tasks{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-tasks-tasks{
   border: 1px solid #49454F; 
   width: 24px;
   height: 24px;
}