.container-for-one-event{
    width: 280px;
    max-height: 80px;
    background-color: #EFF0FF;
    text-align: center;
    padding: 11px 0 11px 0;
    border: 0;
    border-radius: 30px;
}

.name-event{
    font-family: 'Roboto' sans-serif;
    font-size: 16px;
    font-weight: 450;

}

.data-dedl-event{
    padding-top: 20px;
    font-family: 'Roboto' sans-serif;
    font-size: 16px;
    font-weight: 450;
    
}
