.events-comp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  width: 100%;
  background-color: #5773C9;
  height: 120px;
  border-radius: 30px;
}

.banner-heading {
  font-size: var(--big-text-size);
  font-family: var(--big-text-family);
  font-weight: var(--big-text-weight);
  color: var(--main-bg);
  padding: 40px 0 0 100px;
}

.events-comp-container {
  width: 820px;
}

.btns-create {
  margin-top: 39px;
  display: flex;
  gap: 28px;
}

.btns-create button {
  padding: 10px 24px;
  border: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  background: #718DE5;
  color: var(--main-bg);
  font-size: var(--icon-text-size);
  font-weight: var(--base-text-weight);
}

.header-proj{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 2em;
  font-weight: 400;
}

.projs-container{
  margin-top: 60px;
  padding-bottom: 80px;
}

.events-container{
  padding-bottom: 80px;
}

.archive-container{
  padding-bottom: 80px;
}

.box-w-proj{
  padding: 34px 0 0 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 30px ;
}