
.head-page-tasks{
    position: absolute;
    top: 0;
    left: 15.6vw;
}

.main-title{
    border-radius: 2.3vw;
    background-color: #5773C9;
    width: 70.5vw;
    height: 9.4vw;
    margin-top: 3.125vw;
    margin-left: 1.4vw;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-left: 7.8vw;

}

.body-page-tasks{
    margin-left: 9.2vw; 
}

.header-tasks{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 2.5vw;
    font-weight: 400;

}

.box-process{
    margin-top: 3.125vw;
    width: 70.3vw;
}

.subtitle-tasks{
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    font-weight: 400;
    color: #474647;
}

.new-tasks-btn{
    margin-top: 1.56vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 13.4vw;
    height: 2.8vw;
    background-color: #718DE5;
    color: white;
    border: 0.001vw #718DE5;
    border-radius: 2.3vw;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1vw;
    font-weight: 350;
}
