.profile-loggined-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.banner {
  width: 100%;
  background-color: #5773C9;
  height: 120px;
  border-radius: 30px;
}

.banner-heading {
  font-size: var(--big-text-size);
  font-family: var(--big-text-family);
  font-weight: var(--big-text-weight);
  color: var(--main-bg);
  padding: 40px 0 0 100px;
}

.profile-loggined-content {
  width: 800px;
  margin-top: 40px;
  border: 1px solid #C9C6C7;
  padding: 21px 0 0 80px;
  border-radius: 8px;
}

.content-heading {
  font-size: var(--big-text-size);
  font-family: var(--big-text-family);
  font-weight: var(--big-text-weight);
}

.content-container {
  margin-top: 36px;
}

.content-item {
  padding-top: 15px;
  height: 60px;
  display: flex;
  position: relative;
  border-bottom: 1px solid #C9C6C7;
  font-size: var(--small-text-size);
}

.content-item span, .avaliable {
  width: 340px;
  margin-right: 180px;
  margin-left: auto;
  color: #ADAAAB;
}

.avaliable {
  width: 340px;
  margin-right: 180px;
  margin-left: auto;
  color: #474647;
}

.content-item svg {
  position: absolute;
  right: 77px;
  top: 13px;
}

.content-container .content-item:last-child {
  border: none;
}

.profile-change-header {
  background-color: transparent;
  border-bottom: 1px solid #C9C6C7;
  width: 580px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 40px 0px 20px 100px;
}

.profile-change-heading {
  font-size: var(--big-text-size);
  font-family: var(--big-text-family);
  font-weight: var(--big-text-weight);
}

.input-container {
  margin-top: 84px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-naming {
  color: #49454F;
  font-size: var(--icon-text-size);
  position: absolute;
  top: -16px;
  left: 16px;
}

.input {
  width: 580px;
  height: 56px;
  border: none;
  border-bottom: 1px solid #474647;
  padding-left: 16px;
  font-size: var(--base-text-size);
}

.input:focus-visible {
  outline: none;
  background: #F4F0EF;
}

.profile-change-caption {
  font-size: var(--icon-text-size);
  color: #49454F;
}